.container {
    max-width: 1440px;
}

.dashboard {
    width: 255px;
    height: 100%;

    background: white;
}

.objectives_wrapper {
    width: 100%;
}

.objectives_wrapper .objective {
    width: 547px;
    height: 185px;
}

.preparation_wrapper .preparation {
    width: 1124px;
    height: 494px;
}