.news_letter_form {
    background: linear-gradient(0deg, rgba(9, 9, 9, 0.465718), rgba(9, 9, 9, 0.465718)), #1F1F2F;
}

.news_letter_form .sign_up_message {
    margin: 0;

    color: #fff;
}

.news_letter_form .input {
    border: none;

    border-radius: 10px;
    
    background: #FFFFFF;

    color: #82868E;
}

.news_letter_form .submit {
    border: none;

    border-radius: 10px;    

    color: #fff;

    background: #F92251;
}

.news_letter_form .input_wrapper .name_input {
    background-image: url(/img/name_formIcon.svg);
    background-repeat: no-repeat;
}

.news_letter_form .input_wrapper .e-mail_input {
    background-image: url(/img/mail_formIcon.svg);
    background-repeat: no-repeat;
}