.header {
    position: absolute;

    width: 100%;

    background: transparent;

    border-bottom: 1px solid #A3A3A3;
}

/* Лого */
.header .nav_logo {
    display: block;
}

/* Ссылки */
.header .links_wrapper {
    height: 100%;
    /* float: left; */
}

.header .links_wrapper .link_wrapper {
    padding: auto 0;
}

.header .links_wrapper .nav_link {
    position: relative;

    text-decoration: none;
    color: #9F9F9F;
    
    text-align: center;
}

.header .links_wrapper .nav_link.active {
    color: #fff;
}

.header .links_wrapper .nav_link.active:hover {
    transition: .3s;
    opacity: .8;
}

.header .links_wrapper .nav_link.active::after {
    content: '';

    position: absolute;

    display: block;
    width: 100%;
    height: 4px;

    background: white;
}

/* Поле поиска */
.header .input_wrapper {
    border-left: 1px solid #A3A3A3;
    height: 100%;
}

.header .input_wrapper .input_content {
    height: 100%;

    border: none;
    margin: none;
}

.header .input_wrapper .search_button {
    position: relative;
    
    background: none;
    border: none;
    outline: none;
}

.header .input_wrapper .search_button:active {
    transition: .05s;
    transform: translateY(-2px);
}

.header .input_wrapper .search_icon {
    position: absolute;

    top: 0;
    left: 0;
}

.header .input_wrapper .search_field {
    border: none;
    outline: none;

    color: white;
    background: transparent;
}

.header .input_wrapper .search_field::placeholder {
    color: white;
}