html {
    margin-left: auto;
    margin-right: auto;

    width: 100%;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;

    width: 100%;

    background-color: grey;
}

body {
    margin: 0px;
}

/* ----------------
Меню
---------------- */
.menu_wrapper {
    height: 75px;
    width: 100%;

    background: linear-gradient(to right, white 50%, green 50%);

    margin-top: 0px;
    padding-top: 0px;
}

nav {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;

    max-width: 1180px;
    height: 75px;

    margin-top: 0px;
    padding-top: 0px;

    background:#fff;
}

.logo {
    margin-top: 3px;
    margin-left: 3px;

    float: left;
}

.menu {
    margin: 0px;
}

.menu li {
    margin-top: 25px;
    margin-left: 15px;

    list-style: none;

    text-align: center;
    text-decoration: none;

    float: left;

    display: block;
}

.menu a {
    font-family: 'Open Sans Condensed', sans-serif;
}

.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: green;
    text-decoration: underline;
}

.menu a:active {
    color: darkgreen;
}

.call_green,
.call_yellow {
    color: white;

    font-family: 'Roboto', sans-serif;
}

.call_green {
    position: relative;

    width: 20%;
    height: 100%;

    background-color: green;

    float: right;
}

.call_yellow {
    position: absolute;
    vertical-align: bottom;

    width: 100%;
    height: 50%;

    background-color: rgb(255, 187, 0);

	bottom: 0;
}

.call_content {
    text-align: center;
    vertical-align: middle;
}

.call_content a {
    position: relative;

    line-height: 37px;

    color: white;

    text-decoration: none;
    text-align: center;
}

.tel_img {
    margin-right: 10px;
}

.arr-1_img {
    margin-left: 10px;
}

/* ----------------
Заголовки блоков
---------------- */
.why_us_wrapper,
.us_wrapper,
.statistics_wrapper {
    height: 140vh;
    background-size: cover;
    background-position: center;

    /* Чтобы избавиться от "Схлопывания внешних границ" */
    padding-top: 1px;
}

/* Заголовок */
.title_wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 1180px;

    margin-top: 100px;
}

.title_wrapper .content {
    text-align: center;
}

.title_wrapper .content * {
    vertical-align: middle;
}

.line_left {
    margin-right: 50px;
}

.title_wrapper .content {
    font-size: 40px;
}

.title, 
.smaller_text {
    color: white;

    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.line_right {
    margin-left: 40px;
}

/* ----------------
Содержимое блоков
---------------- */
.why_us_wrapper .reasons_wrapper,
.us_wrapper .facts_wrapper,
.statistics_wrapper .vehicles_wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 1180px;

    margin-top: 80px;
}

/* ----------------
Блок "Почему мы?"
---------------- */
.why_us_wrapper {
    background-image: url(../images/why.jpg);
}

/* Причины */
.why_us_wrapper .reasons_wrapper .content {
    text-align: center;
}

.why_us_wrapper .reasons_wrapper .content .reason {
    margin-bottom: 50px;

    position: relative;
}

.why_us_wrapper .reasons_wrapper .content .reason .explanation_wrapper {
    position: absolute;

    left: 134px;
    top: 0;

    width: 512px;
    height: 118px;

    display: flex;
}

.why_us_wrapper .reasons_wrapper .content .reason .explanation {
    margin: auto;

    font-size: 30px;

    color: white;
}

.why_us_wrapper .reasons_wrapper .content .reason .description_wrapper {
    position: absolute;

    right: 134px;
    top: 21px;

    width: 508px;
    height: 118px;

    display: flex;
}

.why_us_wrapper .reasons_wrapper .content .reason .description {
    margin: auto;

    margin-left: 100px;
    margin-right: 45px;

    text-align: left;

    top: 50px;

    font-size: 17px;

    color: green;
}

.why_us_wrapper .reasons_wrapper .content .reason .number {
    font-size: 230%;
}

/* ----------------
Блок "Мы"
---------------- */
.us_wrapper {
    background-image: url(../images/us.jpg);

    height: 150vh;
}

/* Заголовок */
.us_wrapper .smaller_text {
    font-size: 65%;
}

/* Факты */
.us_wrapper .facts_wrapper .content {
    text-align: center;
}

.us_wrapper .facts_wrapper .content .fact {
    display: flex;

    margin-bottom: 50px;
}

.us_wrapper .facts_wrapper .content .fact .img {
    clear: left;
    opacity: 75%;

    margin-left: 150px;
}
.us_wrapper .facts_wrapper .content .fact .description_wrapper {
    float: left;

    margin: auto;
    margin-left: 50px;
    margin-right: 250px;
}

.us_wrapper .description_wrapper {
    display: flex;

    height: 75px;

    padding-left: 40px;

    border-left: solid 1px white;
}

.us_wrapper .description_wrapper .description {
    margin: auto;

    font-size: 20px;
    text-align: left;

    color: white;
}

/* ----------------
Блок "Статистика"
---------------- */

.statistics_wrapper {
    height: 600px;

    background-color: white;
}

/* Заголовок */
.statistics_wrapper .title, 
.statistics_wrapper .smaller_text {
    color: green;
}

.statistics_wrapper .smaller_text {
    font-size: 65%;
}

/* Машины */
.statistics_wrapper .vehicles_wrapper {
    height: 200px;
}

.statistics_wrapper .vehicles_wrapper .content {
    margin-left: 95px;
}

.statistics_wrapper .vehicle {
    width: 210px;
}

.statistics_wrapper .vehicle {
    display: flex;
    float: left;

    margin-right: 50px;
}

.statistics_wrapper .vehicle:last-child {
    margin-right: 0px;
}

.vehicles_wrapper .grey_background {
    /* position: relative;  */

    display: flex;
    margin: auto;

    width: 65px;
    height: 200px;

    background: rgb(230, 230, 230);
}

.vehicles_wrapper .underline {
    width: 30px;
    
    display: flex;
    margin: auto;

    border-bottom: solid 1px black;
}

.vehicles_wrapper .img {
    width: 210px;

    display: flex;
    margin: auto;
    padding-bottom: 30px;

    position: absolute;

    z-index: 10;
}

.vehicles_wrapper .img img {
    margin: auto;
    margin-top: 30px;
}

.vehicles_wrapper .vehicle_name {
    position: absolute; 

    width: 210px;
    text-align: center;

    margin-top: 130px;

    font-size: 20px;

    color: black;
}

/* ----------------
Подвал сайта
---------------- */
footer {
    width: 100%;
    height: 75px;

    margin-left: auto;
    margin-right: auto;

    font-family: 'Open Sans Condensed', sans-serif;

    padding: 1px;
    
    background: white;

    position: relative;
}

footer .content {
    width: 1180px;

    margin: 0 auto;
}

footer .flogo {
    position: absolute;

    margin-left: 10px;
    top: 50%;

    margin-top: -29px;
}

footer .developed_by_text {
    position: absolute;

    margin-left: 1020px;
    top: 50%;

    margin-top: -26px;

    text-align: right;

    font-size: 19px;

    color: grey;
}

footer .developed_by_text .orange_text {
    font-size: 20px;

    color: orange;
}

footer .developed_by {
    position: absolute;

    margin-left: 1120px;
    top: 50%;

    margin-top: -24px;
}

footer .about1 {
    text-align: center;

    color: green;
}

footer .about2 {
    text-align: center;

    color: grey;
}

footer .about2 a {
    color: orange;
}
