html {
    margin-left: auto;
    margin-right: auto;

    width: 100%;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;

    width: 100%;

    background-color: grey;
}

body {
    margin: 0px;
}

/* ----------------
Меню
---------------- */
.menu_wrapper {
    height: 75px;
    width: 100%;

    background: linear-gradient(to right, white 50%, green 50%);

    margin-top: 0px;
    padding-top: 0px;
}

nav {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;

    max-width: 1180px;
    height: 75px;

    margin-top: 0px;
    padding-top: 0px;

    background:#fff;
}

.logo {
    margin-top: 3px;
    margin-left: 3px;

    float: left;
}

.menu {
    margin: 0px;
}

.menu li {
    margin-top: 25px;
    margin-left: 15px;

    list-style: none;

    text-align: center;
    text-decoration: none;

    float: left;

    display: block;
}

.menu a {
    font-family: 'Open Sans Condensed', sans-serif;
}

.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: green;
    text-decoration: underline;
}

.menu a:active {
    color: darkgreen;
}

.call_green,
.call_yellow {
    color: white;

    font-family: 'Roboto', sans-serif;
}

.call_green {
    position: relative;

    width: 20%;
    height: 100%;

    background-color: green;

    float: right;
}

.call_yellow {
    position: absolute;
    vertical-align: bottom;

    width: 100%;
    height: 50%;

    background-color: rgb(255, 187, 0);

	bottom: 0;
}

.call_content {
    text-align: center;
    vertical-align: middle;
}

.call_content a {
    position: relative;

    line-height: 37px;

    color: white;

    text-decoration: none;
    text-align: center;
}

.tel_img {
    margin-right: 10px;
}

.arr-1_img {
    margin-left: 10px;
}

/* ----------------
Блок "Почему мы"
---------------- */
.why_us_wrapper {
    background-image: url(../images/why.jpg);
    height: 140vh;
    background-size: cover;

    /* Чтобы избавиться от "Схлопывания внешних границ" */
    padding-top: 1px;
}

/* Заголовок */
.why_us_wrapper .title_wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 1180px;

    margin-top: 100px;
}

.why_us_wrapper .title_wrapper .content {
    text-align: center;
}

.why_us_wrapper .title_wrapper .content * {
    vertical-align: middle;
}

.line_left {
    margin-right: 50px;
}

.why_us_wrapper .title {
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 53px;
}

.line_right {
    margin-left: 50px;
}

/* Причины */
.why_us_wrapper .reasons_wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 1180px;

    margin-top: 80px;
}

.why_us_wrapper .reasons_wrapper .content {
    text-align: center;
}

.why_us_wrapper .reasons_wrapper .content .reason {
    margin-bottom: 50px;

    position: relative;
}

.why_us_wrapper .reasons_wrapper .content .reason .fact_wrapper {
    position: absolute;

    left: 134px;
    top: 0;

    width: 512px;
    height: 118px;

    display: flex;
}

.why_us_wrapper .reasons_wrapper .content .reason .fact {
    margin: auto;

    font-size: 30px;

    color: white;
}

.why_us_wrapper .reasons_wrapper .content .reason .description_wrapper {
    position: absolute;

    right: 134px;
    top: 21px;

    width: 508px;
    height: 118px;

    display: flex;
}

.why_us_wrapper .reasons_wrapper .content .reason .description {
    margin: auto;

    margin-left: 100px;
    margin-right: 45px;

    text-align: left;

    top: 50px;

    font-size: 17px;

    color: green;
}

.why_us_wrapper .reasons_wrapper .content .reason .number {
    font-size: 230%;
}