body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: italic;

    background: #FCFCFC;
}

#cotainer {
    height: 100vh;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
}

a {
    font-size: 14px;
    text-decoration: none;

    white-space: nowrap;

    color: rgba(0, 0, 0, 0.3);
}
