nav {
    position: fixed;

    width: 100%;

    padding: 14px 94px;
    box-sizing: border-box;

    background: rgba(0, 0, 0, .47);

    z-index: 1;
}

.logo_wrapper {
    width: 50px;
    height: 50px;

    display: inline-block;
}

.logo_wrapper img {
    width: 100%;
    height: auto;
}

.nav_link {
    margin-right: 113px;
    text-transform: uppercase;

    font-weight: lighter;

    letter-spacing: 2px;
}

.nav_link:last-child {
    margin-right: 0;
}

.nav_icon {
    margin-right: 47px;

    width: 25px;
    height: 25px;
    display: inline-block;
}

.nav_icon:last-child {
    margin-right: 0;
}

.nav_icon img {
    width: 100%;
    height: auto;
}