/* Выравнивание контента по ширине */
._justify-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

._justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Выравнивание контента по левому краю */
._justify-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Выравнивание контента по правому краю */
._justify-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Выравнивание контента по центру */
._justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Вывравнивание контента по центру */
._align-center {
    display: flex;
    align-items: center;
}

/* Выравнивание блока по центру страницы */
._center {
    margin-left: auto;
    margin-right: auto;
}

/* Расположение контента в обратном порядке */
._reverse {
    flex-direction: row-reverse;
}

/* Ссылки */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стандартная кнопка покупки */
.buy_button {
    padding: 12px 48px;

    border-radius: 20px;
    border: none;
    outline: none;

    cursor: pointer;

    font-size: 14px;
    color: #fff;

    background: #000;

    text-transform: uppercase;
}

/* Стандартный сабтайтл */
.subTitle {
    font-size: 16px;
    font-weight: lighter;
}

/* Стандартная цена */
.price {
    font-size: 40px;
}

/* Стандартный заголовок */
.title {
    font-weight: bold;
}

/* Стандартная дополнительная информация */
.extra_text {
    margin-top: 10px;

    font-size: 13px;
    font-weight: lighter;
}